svg.nav-icon {
    vertical-align:middle;
    margin-bottom:4px;
    margin-right: 3px;
    color: #5755d9;
}
svg.nav-icon:hover {
    vertical-align:middle;
    margin-bottom:4px;
    margin-right: 3px;
    color: #807fe2;
}
[data-theme="dark"] svg.nav-icon {
    vertical-align:middle;
    margin-bottom:4px;
    margin-right: 3px;
    color: #807fe2;
}
[data-theme="dark"] svg.nav-icon:hover {
    vertical-align:middle;
    margin-bottom:4px;
    margin-right: 3px;
    color: #babaf8;
}
svg path {
    fill: currentColor;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
[data-theme="dark"] pre code::-webkit-scrollbar {
    height: 12px;
}

[data-theme="dark"] pre code::-webkit-scrollbar-track {
    background: #2d2d2d; /* dark mode background */
}

[data-theme="dark"] pre code::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
}

[data-theme="dark"] pre code::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* For Firefox */
[data-theme="dark"] pre code {
    scrollbar-color: #555 #2d2d2d; /* thumb track */
}