<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/static/spectre.min.css">
        <link rel="stylesheet" href="/static/pygments_style.css">
    </head>
    <body>
        <div class="main container grid-lg">
            <header>
                <nav>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">&nbsp;
                    </ul>
                </nav>
                {% block head %}
                {% endblock %}
            </header>
                
            <main class="content columns">
                <div class="column col-sm-12 col-md-10 col-8">
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </body>
</html>
