<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link id="spectre" rel="stylesheet" href="/static/style/spectre.min.css">
        <link rel="stylesheet" href="/static/style/pygments_style.css">
        <script>
            var dark_css_path = "/static/style/spectre_dark.min.css";
            var light_css_path = "/static/style/spectre.min.css";
        </script>
        <script src="/static/script/color_theme.js"></script>
        {% block extraheader %}
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon_io/site.webmanifest">
    </head>
    <body>
        <div class="main container grid-lg">
            <header class="navbar">
                <section class="navbar-section">
                </section>
                <section class="navbar-section">
                    <label class="form-switch">
                        <input type="checkbox" onclick="switch_color_theme();">
                        <i class="form-icon"></i> <p id="moon"></p>
                    </label>
                </section>
            </header>
            <header class="column col-sm-12 col-md-10 col-8">
                {% block head %}
                {% endblock %}
            </header>
                
            <main class="content columns">
                <div class="column col-sm-12 col-md-10 col-8">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="column col-sm-12 col-md-2 col-4">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </body>
</html>
