{% extends "layout.html" %}
{% block extraheader %}
    <title>{{ post.title }}</title>
{% endblock %}
{% block head %}
    <a href="/">fzxu's blog</a>
    <h1 class="heading-index">{{ post.title }}</h1>

    <p class="text-gray">
        <small>{{ post.date | default("") }}</small>
        <a href="/category/{{ post.category }}/"><small><code>{{ post.category }}</code></small></a>
    </p>
{% endblock %}
{% block body %}
    {% autoescape false %}
    {{ rendered_content }}
    {% endautoescape %}

    <script src="https://utteranc.es/client.js"
            repo="KevinXuxuxu/KevinXuxuxu.github.io"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
{% endblock %}
